{% extends "layouts/base.html" %}

{% block title %} Page Blank {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                <h1 style = "color: #AD182D;">Editar Tarefa</h1>
                </div>
                <div class="card-body p-4">
                    <form action="{% url 'editar_tarefa' tarefa.id %}" method="POST" >
                        {% csrf_token %}
                        <label for="titulo">Título:</label>
                        <input type="text" id="titulo" name="titulo" class="form-control" style=" border-bottom: 2px solid #AD182D;" value="{{ tarefa.titulo }}" style="color: #AD182D;" required>
                        <br>
                        <label for="descricao">Descrição:</label>
                        <input id="descricao" name="descricao" class="form-control" style=" border-bottom: 2px solid #AD182D;" value="{{ tarefa.descricao }}" style="color: #AD182D;" required></input>
                        <br>
                        <label for="prazo">Prazo:</label>
                        <input type="date" id="prazo" name="prazo" class="form-control"  style=" border-bottom: 2px solid #AD182D;"value="{{ tarefa.prazo }}" style="color: #AD182D;" required>
                        <br>
                        <label for="status">Status:</label>
                        <input type="text" id="status" name="status" class="form-control" style=" border-bottom: 2px solid #AD182D;" value="{{ tarefa.status }}" style="color: #AD182D;" required>
                        <br>
                        <button type="submit" class="btn btn-primary" style="color: white;  background-color: #AD182D;" style=" border-bottom: 2px solid #AD182D;">Editar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
