{% extends "layouts/base.html" %}

{% block title %} Login {% endblock %} 
<!-- esse aqui é o que está sendo usado -->
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<Image src="/img/Logo_MackTarefas" width="200px" height="100px" alt="Logo_MackTarefas"></Image>

  <div class="row">
    <div class="col-md-5">
      <div class="card">
        <div style="color:white; background-color: #AD182D">
          <div style="color:white; background-color: #AD182D">
            <h4>Login</h4>
        </div>
        </div>
        <div class="card-body">

          <h6 class="card-category">
              {% if msg %}
                <span class="text-danger">{{ msg | safe }}</span>
              {% else %}
                  Adicionar credenciais
              {% endif %}  
          </h6>
          
          <br />

          <form role="form" method="post" action="">
              
            {% csrf_token %} 

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating">Email</label>
                  {{ form.username }}
                </div>
              </div>
            </div>

            <br />

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating">Senha</label>
                  {{ form.password }}
                </div>
              </div>
            </div>

            <br />

            <button type="submit" name="login" class="btn btn-primary pull-left" style="color:white; background-color: #AD182D;">Login</button>

            &nbsp; &nbsp; 
            <span class="pull-right">
              Não possui uma conta? <a href="{% url 'register' %}" class="text-primary" style="color:#AD182D;">Criar conta</a>
            </span>

            <div class="clearfix"></div>

          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
