

    <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>

              <li>
                <a target="_blank" rel="noopener noreferrer">
                   MackTarefas
                </a>
              </li>

            </ul>
          </nav>
          <div class="copyright float-right">
            &copy; <a target="_blank" rel="noopener noreferrer">MackTarefas</a> 
                      - coded by <a target="_blank" rel="noopener noreferrer">EJEM</a>
          </div>
        </div>
    </footer>
