{% extends "layouts/base.html" %}

{% block title %} Page Blank {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="card card-profile">
                <div class="card-body">
                    <h1 class="card-category text-gray">Bem-vindo ao MackTarefas</h1> 
                    <h4 class="card-title">
                        <h3>Gerencie suas tarefas de forma eficiente!</h3>
                        <div class="container">
                            <img src="{% static 'logo_mackenzie.png' %}" alt="Logo do Mackenzie" sizes="200,100">
                        </div>
                        <p style="padding-bottom: 80px;">O Mack Tarefas é uma ferramenta intuitiva que permite aos usuários gerenciar suas atividades diárias de forma organizada. Com funcionalidades como criação, edição e exclusão de tarefas, categorização por status,  acompanhando o progresso do aluno. A interface responsiva garante acessibilidade em diversos dispositivos, enquanto notificações e busca rápida ajudam a manter o foco e a produtividade.</p>                    </h4>
                    <a href="/" class="btn btn-primary btn-round">Home</a>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
